
.navbar-brand
{
  font-size: 2rem;
}
.clogo
{
  font-weight: bolder;
  font-style: italic;
}

.logb
{
  padding-right: 5px;
}
.uname
{
padding-top: 5px;
  width: max-content;
  font-size: 1.3rem;
  padding-right: 10px;
  color: white;
}
.searchb
{
  margin-left: 2px;
}

.imghelper
{
  width: 286px;
  height: 286px;
}

.ccart
{
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.5);
  padding-top: 5px;
}

.customheading
{
  text-align: center;
  border-width: thick;
  border: #999999 solid;
  font-family: "Trirong", serif;
  font-variant: all-petite-caps;
  font-weight: bold;
  border-radius: 25px;
  user-select: none;

}
.center
{
  text-align: center;
}

.customcard
{
  align-items: center;
  text-align: center;
}

.qbtn
{
  width: 50px;
  text-align: center;
}

.cartimg
{
  width: 100px;
  height: 100px;
}
.editbtn
{
  color: black;
}

#navbarDropdown
{
  border: none;
  user-select: none;
}

.padt-8
{
  padding-top: 8px;
}
#navbarDropdown:after {
  display: none;
}


.digg_pagination {
  background: white;
  cursor: default;
  text-align: center;
  width: 100%;
  /* self-clearing method: */
}
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  width: fit-content;
  display: inline-block;
}
.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd;
}
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1;
}
.digg_pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5;
}
.digg_pagination a:hover, .digg_pagination a:focus {
  color: #000033;
  border-color: #000033; }
.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center; }
.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em; }
