<br>
<div class="container">
  <h3>Search friends</h3>
<%= form_tag 'search_products', remote: true, method: :get do %>
  <div class="form-group row">
    <div class="col-sm-9 norp">
      <%= text_field_tag :tag, params[:tag], placeholder: "Tag Name", autofocus: true, class: "form-control form-control-lg"%>

    </div>
    <div class="col-sm-3 nolp">
      <%= button_tag type: :submit , class: "btn btn-success" do %>
        <%= fa_icon 'search 2x'%>
      <% end %>
    </div>
  </div>

<% end %>
<div id="result">

</div>
</div>